<a href="https://colab.research.google.com/github/heshu-000/python/blob/main/Lists%2CStrings%2CSets%2CDictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS

In [12]:
#append = adds at last pos
x = ['a', 'b', 'c']
x.append("o")
print (x[3])

o

In [68]:
#insert
x = ['a', 'b', 'c','d']
print (x)
x.insert (2,"g")
print (x)

['a', 'b', 'c', 'd']
['a', 'b', 'g', 'c', 'd']

In [69]:
#remove
x = ['a', 'b', 'c','d']
print (x)
x.remove ("b")
print (x)

['a', 'b', 'c', 'd']
['a', 'c', 'd']

In [70]:
#pop
x = ['a','a','b', 'c','d']
print (x)
x.pop(1)
print (x)

['a', 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [6]:
#number descending sort
num = ["1","5","9","4","-2"]
print (num)
num.sort (reverse=True)
print (num)

['1', '5', '9', '4', '-2']
['9', '5', '4', '1', '-2']

In [7]:
#sort
alpha = ["a","e","c"]
print (alpha)
alpha.sort()
print (alpha)

['a', 'e', 'c']
['a', 'c', 'e']

In [8]:
#reverse
alpha = ["a","e","c"]
print (alpha)
alpha.reverse()
print (alpha)

['a', 'e', 'c']
['c', 'e', 'a']

In [9]:
#for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [10]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# STRINGS

In [13]:
a = "rrr movie has been released"
print (a.upper())

RRR MOVIE HAS BEEN RELEASED

In [14]:
#remove spaces
a = "        rrr movie has been released"
print (a.strip())

rrr movie has been released

In [15]:
a = "rrr movie has been released"
print (a.replace("rrr","Radhe Shyam"))

Radhe Shyam movie has been released

In [16]:
a = "rrr movie has been released"
print (a.split())

['rrr', 'movie', 'has', 'been', 'released']

In [17]:
a = "rrr movie, has been released"
print (a.split(","))

['rrr movie', ' has been released']

In [18]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [19]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [20]:
quantity = int(input("Enter quantity:"))
itemno = str(input("Enter item name:"))
price = int(input("Enter price:"))
total = quantity * price
myorder = "I bought {} packs of {} for {} rupees."
print(myorder.format(quantity, itemno, total))

Enter quantity:6
Enter item name:mango
Enter price:40
I bought 6 packs of mango for 240 rupees.

In [21]:
sub1 = int(input("Enter marks:"))
sub2 = int(input("Enter marks:"))
sub3 = int(input("Enter marks:"))
sub4 = int(input("Enter marks:"))
marks = sub1 + sub2 + sub3 + sub4
result = "Got {} in sub1, {} in sub2, {} in sub3, {} in sub3 with a total of {}"
print(result.format(sub1, sub2, sub3,sub4,marks))

Enter marks:50
Enter marks:60
Enter marks:12
Enter marks:34
Got 50 in sub1, 60 in sub2, 12 in sub3, 34 in sub3 with a total of 156

In [22]:
txt = "We are the so-called \"Vikings\" from the north."
print (txt)

We are the so-called "Vikings" from the north.

In [23]:
txt = "rrr has been \breleased"
print (txt)

rrr has been released

In [24]:
txt = "rrr has been \nreleased"
print (txt)

rrr has been
released

# SETS

In [25]:
thisset = {"csk", "mi", "rr"}
print(thisset)

{'csk', 'mi', 'rr'}

In [26]:
thisset = {"mi", "csk", "rr"}
print(len(thisset))

3

In [27]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [28]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [30]:
#Create a Set
x = {"a", "b", "c"}
print(x)

{'a', 'c', 'b'}

In [31]:
#Sets cannot have two items with the same value.
x= {"a", "b", "c", "a"}

print(x)

{'a', 'c', 'b'}

In [32]:
# To determine how many items a set has, use the len() function
x= {"a", "b", "c"}

print(len(x))

3

In [33]:
# Set items can be of any data type:
set1 = {"a", "b", "c"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'a', 'c', 'b'}
{1, 3, 5, 7, 9}
{False, True}

In [34]:
# Loop through the set, and print the values:
y = {"a", "b", "c"}

for x in y:
  print(x)

a
c
b

In [35]:
# Check if "b" is present in the set:
x = {"a", "b", "c"}

print("b" in x)

True

In [36]:
# Add an item to a set, using the add() method:
x = {"a", "b", "c"}

x.add("ashok")

print(x)

{'a', 'ashok', 'c', 'b'}

In [37]:
# Add elements from tropical into thisset:
x = {"a", "b", "c"}
y = {"pi", "m", "p"}

x.update(y)

print(x)

{'a', 'm', 'p', 'c', 'b', 'pi'}

In [38]:
# Remove "b" by using the remove() method:
x = {"a", "b", "c"}

x.remove("b")

print(x)

{'a', 'c'}

In [39]:
#Remove the last item by using the pop() method:
y = {"a", "b", "c"}

x = y.pop()

print(x)

print(y)

a
{'c', 'b'}

In [40]:
#The clear() method empties the set:
x = {"a", "b", "c"}

x.clear()

print(x)

set()

In [41]:
#The union() method returns a new set with all items from both sets:
a = {"ashok", "amruth" , "c"}
b = {1, 2, 3}

c = a.union(b)
print(c)

{1, 2, 'amruth', 3, 'ashok', 'c'}

In [42]:
# The update() method inserts the items in b into a:
a = {"ashok", "amruth" , "c"}
b = {1, 2, 3}

a.update(b)
print(a)

{1, 2, 'amruth', 3, 'ashok', 'c'}

In [43]:
# Keep the items that exist in both set x, and set y:
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

x.intersection_update(y)

print(x)

{'ashok'}

In [44]:
# Return a set that contains the items that exist in both set x, and set y
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

z = x.intersection(y)

print(z)

{'ashok'}

In [45]:
# Return a set that contains all items from both sets, except items that are present in both:
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

z = x.symmetric_difference(y)

print(z)

{'g', 'c', 'b', 'm'}

# DICTIONARIES

In [46]:
# Create and print a dictionary:
x = {
  "brand": "royal enfield",
  "model": "classic 350",
  "year": 1964
}
print(x)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 1964}

In [47]:
#Print the "brand" value of the dictionary:
x = {
  "brand": "royal enfield",
  "model": "classic 350",
  "year": 1964
}
print(x["brand"])

royal enfield

In [48]:
#Duplicate values will overwrite existing values:
thisdict = {
  "brand": "royal enfield",
  "model": "classic 350",
  "year": 1964,
  "year": 2022
}
print(thisdict)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2022}

In [49]:
#String, int, boolean, and list data types:
x = {
  "brand": "royal enfield",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
  }
print(x)

{'brand': 'royal enfield', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [50]:
# Print the data type of a dictionary:
x = {
  "brand": "RE",
  "model": "classic 350",
  "year": 1964
}
print(type(x))

<class 'dict'>

In [51]:
#Get the value of the "model" key:
y = {
  "brand": "RE",
  "model": "classic 350",
  "year": 1964
}
x = y["model"]
print(x)

classic 350

In [52]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
bike = {
"brand": "RE",
"model": "continental GT",
"year": 1964
}

x = bike.keys()

print(x)

bike["color"] = "silver"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [53]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
bike = {
"brand": "RE",
"model": "gt",
"year": 1964
}

x = bike.items()

print(x) 

bike["year"] = 2020

print(x)

dict_items([('brand', 'RE'), ('model', 'gt'), ('year', 1964)])
dict_items([('brand', 'RE'), ('model', 'gt'), ('year', 2020)])

In [56]:
#Check if "model" is present in the dictionary:
x = {
  "brand": "RE",
  "model": "GT",
  "year": 1964
}
if "model" in x:
  print("Yes, 'model' is one of the keys in the x dictionary")

Yes, 'model' is one of the keys in the x dictionary

In [55]:
#Change the "year" to 2018:
x = {
  "brand": "RE",
  "model": "GT",
  "year": 1964
}
x["year"] = 2018
print(x)

{'brand': 'RE', 'model': 'GT', 'year': 2018}

In [57]:
#Update the "year" of the car by using the update() method:
x = {
  "brand": "re",
  "model": "gt",
  "year": 1964
}
x.update({"year": 2020})

print(x)

{'brand': 're', 'model': 'gt', 'year': 2020}

In [58]:
#Adding an item to the dictionary is done by using a new index key and assigning a value to it:
x= {
  "brand": "Re",
  "model": "classic 350",
  "year": 1964
}
x["color"] = "red"
print(x)

{'brand': 'Re', 'model': 'classic 350', 'year': 1964, 'color': 'red'}

In [59]:
#Add a color item to the dictionary by using the update() method:
x = {
  "brand": "re",
  "model": "gt",
  "year": 1964
}
x.update({"color": "red"})

print(x)

{'brand': 're', 'model': 'gt', 'year': 1964, 'color': 'red'}

In [60]:
#The pop() method removes the item with the specified key name:
x =	{
  "brand": "re",
  "model": "gt",
  "year": 1964
}
x.pop("model")
print(x)

{'brand': 're', 'year': 1964}

In [61]:
#The del keyword removes the item with the specified key name:
x = {
  "brand": "re",
  "model": "gt",
  "year": 1964
}
del x["model"]
print(x)

{'brand': 're', 'year': 1964}

In [62]:
#The clear() method empties the dictionary:
x = {
  "brand": "re",
  "model": "gt",
  "year": 1964
}
x.clear()
print(x)

{}

In [63]:
#Create a dictionary that contain three dictionaries
friends = {
  "child1" : {
    "name" : "prajwal",
    "year" : 2004
  },
  "child2" : {
    "name" : "amrutg",
    "year" : 2007
  },
  "child3" : {
    "name" : "ashok",
    "year" : 2011
  }
}
print(friends)

{'child1': {'name': 'prajwal', 'year': 2004}, 'child2': {'name': 'amrutg', 'year': 2007}, 'child3': {'name': 'ashok', 'year': 2011}}

In [64]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "prajwal",
  "year" : 2004
}
child2 = {
  "name" : "amruth",
  "year" : 2007
}
child3 = {
  "name" : "ashok",
  "year" : 2011
}

friends = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(friends)

{'child1': {'name': 'prajwal', 'year': 2004}, 'child2': {'name': 'amruth', 'year': 2007}, 'child3': {'name': 'ashok', 'year': 2011}}

In [65]:
#Make a copy of a dictionary with the copy() method:
x = {
  "brand": "re",
  "model": "gt",
  "year": 1964
}
y = x.copy()
print(x)

{'brand': 're', 'model': 'gt', 'year': 1964}

In [66]:
# Make a copy of a dictionary with the dict() function:
x = {
  "brand": "RE",
  "model": "GT",
  "year": 1964
}
y = dict(x)
print(x)

{'brand': 'RE', 'model': 'GT', 'year': 1964}