<a href="https://colab.research.google.com/github/heshu-000/python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=1
b="2"
c=0.3
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:

num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :2
2
Enter name : 3
3
type of number <class 'str'>
type of name <class 'str'>

In [5]:
a=10
print(a)

10

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))